* {
    box-sizing: border-box;
}

/* ===== GLOBAL PAGE ===== */
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
}

/* ===== COMMON CENTER CARD ===== */
.container {
    width: 420px;
    margin: 80px auto;
    padding: 30px;
    background: #1e293b;
    border-radius: 12px;
    box-shadow: 0px 0px 20px rgba(124, 58, 237, 0.3);
    text-align: center;
}

/* ===== HEADINGS ===== */
h2 { font-size: 28px; }
h3 { font-size: 20px; }

/* ===== INPUT FIELDS ===== */
/* Text inputs only (NOT radio buttons) */
input[type="text"],
input[type="email"] {
    width: 90%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 8px;
    border: none;
    background: #334155;
    color: white;
}


input:focus {
    outline: none;
    box-shadow: 0 0 8px #7c3aed;
}

/* ===== BUTTON ===== */
button {
    width: 95%;
    padding: 12px;
    margin-top: 15px;
    border-radius: 8px;
    border: none;
    background: linear-gradient(90deg,#7c3aed,#9333ea);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.04);
}

/* ===== TIMER TEXT ===== */
.timer-text {
    text-align: center;
    margin-top: 40px;
    font-size: 26px;
}

/* ===== QUIZ CARD ===== */
.question-block {
    padding: 24px;
    background: #1e293b;
    border-radius: 16px;
    width: 460px;
    margin: 30px auto;
    box-shadow: 0 0 30px rgba(124, 58, 237, 0.25);
}

/* Question title centered */
.question-title {
    text-align: center;
    margin-bottom: 25px;
    font-size: 24px;
}

/* ===== OPTIONS ===== */
.option {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    padding: 14px 18px;
    margin: 14px 0;
    background: #334155;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
    width: 100%;
}



.option:hover {
    background: #475569;
    transform: scale(1.02);
}

/* Radio button LEFT aligned */
.option input[type="radio"] {
    width: auto;              /* IMPORTANT */
    margin: 0;
    transform: scale(1.3);
    accent-color: #7c3aed;
}


/* Option text starts right after radio */
.option span {
    font-size: 17px;
    text-align: left;
    flex: none;
}
.question-block button {
    width: 100%;
    margin-top: 20px;
}

/* ===== PROGRESS BAR ===== */
.progress-container{
    width: 460px;
    height: 8px;
    background: #334155;
    margin: 10px auto 30px auto;
    border-radius: 20px;
}

#progress-bar{
    height: 8px;
    width: 0%;
    background: linear-gradient(90deg,#7c3aed,#9333ea);
    border-radius: 20px;
    transition: width 0.4s ease;
}